html {
    padding: 0;
    margin: 0;  
}
body {
    background: #13161a;
    padding: 0;
    margin: 0;  
    height: 100vh;
    width: 100vw;
    position: relative;
}
#app {
    height: 100%;
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

header {
    background: #323b43;
    height: 10%;
    width: 100%;
    position: relative; 
    margin: 0;
    padding: 0;
}
.head-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background: #323b43;
}
.head-container img {
    height: 100%;
}

.logo-text {
    height: 7vh;
    width: 30vh;
    background: url(logo-text.png);
    background-size: cover;
    position: relative;
    bottom: 20%;
    left: 10px;
    display: inline-block;
}
.buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 1%;
    height: 100%;
    background: #323b43;
    
    /* box-shadow: 0 0 5px #13161a; */
}
.buttons button {
    filter: drop-shadow(0 0 4rem #13161a);
    background: #566068;
    color: #ebebeb;
    margin:0.5px;
    border: none;
    padding: 6px;
    outline: none;
    text-transform: uppercase;
    font-family:'Rubik', sans-serif;
    font-weight: 200;
    font-size: 0.5em;
    display: block;
    float: left;
    height: 4vh;
    width: 6vh;
    position: relative;
    transition: 0.1s background ease-in-out;
}
.buttons button:hover {
    filter: contrast(1.5);
    box-shadow: 0 0 5px #13161a;
 
}
/* .buttons button:disabled{
    opacity: 0.5;
} */
.buttons button:disabled:hover{
    /* opacity: 0.5; */
    filter:none;
}
/* .buttons button:first-child {
    border-radius: 4px 0px 0px 4px;
}
.buttons button:last-child {
    border-radius: 0px 4px 4px 0px;
} */
.buttons .update-button {
    background: url(svg/repeat.svg) center no-repeat,#566068;
    background-size: 40%;
}
.buttons .process-button {
    background: url(svg/skip.svg) center no-repeat,#566068;
    background-size: 40%;
}
.buttons .start-button {
    background: url(svg/play-button.svg) center no-repeat,#566068;
    background-size: 40%;
}
.buttons .stop-button {
    background: url(svg/stop.svg) center no-repeat,#566068;
    background-size: 40%;
}
.buttons .update-button:active {
    background: url(svg/repeat.svg) center no-repeat,#128fb4;
    background-size: 40%;
}
.buttons .process-button:active {
    background: url(svg/skip.svg) center no-repeat,#128fb4;
    background-size: 40%;
}
.buttons .start-button:active {
    background: url(svg/play-button.svg) center no-repeat,#128fb4;
    background-size: 40%;
}
.buttons .stop-button:active {
    background: url(svg/stop.svg) center no-repeat,#128fb4;
    background-size: 40%;
}


.buttons .update-button.active {
    background: url(svg/repeat.svg) center no-repeat,#128fb4;
    background-size: 40%;
}
.buttons .process-button.active {
    background: url(svg/skip.svg) center no-repeat,#128fb4;
    background-size: 40%;
}
.buttons .start-button.active {
    background: url(svg/play-button.svg) center no-repeat,#128fb4;
    background-size: 40%;
}
.buttons .stop-button.active {
    background: url(svg/stop.svg) center no-repeat,#128fb4;
    background-size: 40%;
}

.status {
    position: absolute;
    bottom: 2px;
    left: 0;
    font-size: 0.6em;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    color: #ebebeb;
}
.status.start{
    left: 16px;
}
.status.start::before{
    content: '';
    width: 12px;
    height: 12px;
    left: -16px;
    top: 0;
    position: absolute;
    margin-right: 10px;
    background: url(svg/spinner.svg) center no-repeat;
    background-size: cover;
}

main {
    height: 90%;
    width: 100%;
    position: relative;
    background: #13161a;
    margin: 0;
    padding: 0;
    overflow: auto;    
}
/* .child {
    background: #222;
    height: 800px;
    width: 100%;
} */

section {
    float: left;
    height: 100%;
    width: 80%;
    margin: 0;
    padding: 0;
    position: relative;
    /* background: #888; */
    display: block;
    flex-direction: column;
    opacity: 1;
}
section.active{
    opacity: 0.5;
}
aside {
    float: left;
    height: 100%;
    width: 20%;
    margin: 0;
    padding: 0;
    position: relative;
    background: #323b43;
    display: block;
    border-top:2px solid #13161a;
    box-sizing: border-box;
}
.profiles {
    width: 100%;
    /* min-height: 120px; */
    height: 25%;
    background: #13161a;
    padding: 0;
    margin: 0;
    position: relative;
}
.decor-line {
    width: 100%;
    height: 6px;
    background: #323b43;
    display: block;
}
.profiles ul {
        margin: 0;
        padding: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        list-style: none;
        overflow: hidden;
}   

::-webkit-scrollbar {
    height: 5px;
    width: 1px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0,0.1);
  }
::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 60%, rgba(0,212,255,0) 100%);

}
 
.add-card {
    min-width: 160px;
    background:#13161a;   
    margin: 5px 0px 5px 5px;
    border-radius: 4px;
    border: 1px solid #323b43;
    position: relative;
}
.add-card:active {
    border: 1px solid #128fb4;
}
.add-card .add {
    color:#e0e0e1;
    position: absolute;
    font-size: 3em;
    top: 35px;
    left: 60px;
    height: 40px;
    width: 40px;
    background: url(svg/add.svg);
    background-size: 40px 40px;
    filter: invert(0.6);
}

.card {
    min-width: 165px;
    background:url(svg/user.svg) center no-repeat,#323b43;   
    background-size: 40% 40%;
    margin: 5px 0px 5px 5px;
    border-radius: 4px;
    border: 1px solid #323b43;
    position: relative;
    box-shadow: 0 0 100px #13161a;
    color: #e0e0e1;
}
.card:active {
    border: 1px solid #128fb4;
    color: #fff;
    background:url(svg/user.svg) center no-repeat,#128fb4;
    background-size: 40% 40%;
    /* text-shadow: 0 0 10px #e0e0e1; */
    box-shadow: 0 0 100px #e0e0e1;
    transition: 0.2s ease-in-out box-shadow;
}

.card.active {
    border: 1px solid #128fb4;
    color: #fff;
    background:url(svg/user.svg) center no-repeat,#13161a;
    background-size: 40% 40%;
    /* text-shadow: 0 0 10px #e0e0e1; */
    box-shadow: 0 0 100px #e0e0e1;
    transition: 0.2s ease-in-out box-shadow;
}

.card-header {
    color:inherit;
    font-family:'Rubik', sans-serif;
    font-weight: 200;
    font-size: 0.75em;
    text-align: center;
    margin: 0;
    top: 6px;
    position: relative;
}
.card-info {
    display: flex;
    flex-direction: column;
    bottom: 8px;
    left: 8px;
    position: absolute;

}
.card-info p {
    margin: 0;
    color: inherit;
    font-family:'Rubik', sans-serif;
    font-weight: 200;
    font-size: 0.6em;
}
.close {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    height: 10px;
    width: 10px;
    background: url(svg/cancel.svg);
    background-size: 10px 10px;
    filter: invert(1);
}
.close:hover {
    cursor: pointer;
}
.info {
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    height: 12px;
    width: 12px;
    background: url(svg/controls.svg);
    background-size: 12px 12px;
    filter: invert(1);
}
.info:hover {
    cursor: pointer;
}

aside ul {
    margin: 0;
    padding: 0;
    position: relative;
    height: 97%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: auto;
    overflow-x: hidden;
}
aside ul li {
    color: #e0e0e1;
    box-shadow: 0 0 20px #13161a;
    text-transform: lowercase;
    font-family:'Rubik', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
    margin: 3px 6px;
/*    height: 20px;
    overflow: hidden;*/
    padding: 5px;
    position: relative;
    background: #13161a;
    border-radius: 3px;
    /* border-bottom: 1px solid #777; */
    animation-name: addLionLi;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes addLionLi {
    0% {
      left: 200px;
      opacity: 0;
    }
    100% {
      left: 0px;
      opacity: 1;
    }
  }
aside ul li::before {
    /*content: '';*/
    /* font-family: 'Font Awesome 5 Free';
    font-weight: 900; 
    font-size: 1em; */
    display: inline-block;
    margin-right: 5px;
    /* margin-left: 2px; */
    height: 12px;
    width: 12px;
    background: url(svg/info.svg);
    background-size: 12px 12px;
    filter: invert(1);
}

.data {
    height: 73%;
    width: 100%;
    position: relative;
    background: #000;
    /* overflow: scroll; */
}
.data-container {
    background: #13161a;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    /* direction: rtl; */
}
.event-cards {
    background: #13161a;
    margin: 10px;
    padding: 10px;
    position: relative;
    min-height: 100%;
    display: none;
    /* direction: ltr; */
}
.event-cards.active{
    display: block;
}
.event-cards::after {
    content: '';
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 20px;
    width: 1px;
    background: #e0e0e1;
    box-shadow: 0 0 5px #000;
}
.event-card {
    background: #e0e0e1;
    border-radius: 5px;
    position: relative;
    max-width: 85%; 
    left: 20px;
    margin: 20px 10px;
    padding: 10px 10px;
    box-shadow: 0 0 10px #000;
    
}
.event-card.updating{
    background: #ed704b;
    box-shadow: 0 0 10px #fff;
    filter: invert(1);
}
.event-card::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: #e0e0e1;
    
    top: 0;
    left: -26px;
    border-radius: 6px;
    z-index: 2;
/* 
    background: url(svg/spinner.svg) center no-repeat,#fff;
    background-size: cover; */
}
.event-card.updating::after {
    background: url(svg/spinner.svg) center no-repeat,#000;
    background-size: cover;
    z-index: 10;
    
}
.event-card p {
    margin: 0;
    padding: 0;
    line-height: 20px;
    color: #000;
    font-family:'Rubik', sans-serif;
    font-weight: 200;
    font-size: 0.75em;
    position: relative;
}
/* .event-card .event-name {
    color: #13161a;
    position: relative;
} */
.event-card .event-name:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(svg/name.svg) center no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    top: 3px;
    /* box-shadow: 0 0 10px #13161a; */
}
.event-card .event-status:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(svg/status.svg) center no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    top: 3px;
    /* box-shadow: 0 0 10px #13161a; */
}
.event-card .event-created:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(svg/time.svg) center no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    top: 3px;
    /* box-shadow: 0 0 10px #13161a; */
}
.event-card .event-modifyed:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(svg/time.svg) center no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    top: 3px;
    /* box-shadow: 0 0 10px #13161a; */
}
.event-card .event-simptoms:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(svg/simptoms.svg) center no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    top: 3px;
    /* box-shadow: 0 0 10px #13161a; */
}
.event-card .event-adress:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(svg/address.svg) center no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    top: 3px;
    /* box-shadow: 0 0 10px #13161a; */
}
.event-card .event-info:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(svg/event-info.svg) center no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    top: 3px;
    /* box-shadow: 0 0 10px #13161a; */
}
.event-card .event-categorys:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(svg/categorys.svg) center no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    top: 3px;
    /* box-shadow: 0 0 10px #13161a; */
}


.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(19,22,32,0.5);
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    display: none;
}
.popup.active {
    display: block;
}

.popup .form-check {
    position: relative;
    margin: 200px auto 0;
    width: 200px;
    height: 200px;
    font-family:'Rubik', sans-serif;
    color: #e0e0e1;
    font-weight: 300;
    font-size: 0.6em;
    padding: 2px;
    filter: drop-shadow(0 0 4em #000)
}
.popup input {
    width: 190px;
}
.form-check button {
    background: #ebebeb;
    margin: 3px;
    border: none; 
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    padding: 4px;
}
.form-check button:active{
    background: #128fb4;
}
.form-check input {
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 3px;
    margin: 3px 0;
}
.form-check .form-status {
    margin: 20px;
    position: relative;
}

.form-status.loading:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    padding: 0;
    margin: 0 3px 0 0;
    /* bottom: -5px; */
    position: relative;
    float: left;
    background: url(svg/spinner.svg) center no-repeat;
    background-size: cover;
}

.profile_settings {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(19,22,32,0.5);
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    display: none;
}
.profile_settings.active {
    display: block;
}

footer  {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 11px;
    background: #000;
    color: #fff;
    /* text-transform: lowercase; */
    font-variant: small-caps;
    font-family:'Rubik', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 0.6em;
    text-align: right;
    filter:invert(1);
    opacity: 0.8;
}


